html{
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto;*/
    font-family: Rubik, sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}
.hero {
    background-color: #000814;
    padding: 5px 130px 30px 130px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
    align-items: center;
}

.logo {
    font-size: 35px;
    color: #f9faf8;
    font-family: Sacramento, sans-serif;
}

.web-info {
    display: flex;
    justify-content: space-between;
}

.hero-section{
    flex-shrink: 0;
    max-width: 500px;
    margin-right: 30px;
}

em{
    font-family: Sacramento, sans-serif;
    font-style: italic;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
    padding-bottom: .3em;
}

.hero-scnd, .image, a{
    font-size: 18px;
    color:#e5e7eb;
    padding-bottom: 1.2em;
}

button, .sign-up{
    background-color: #47bfff;
    border-radius: 5px;
    border: none;
    padding: 8px 40px;
    color: white;
    font-weight: 580;
    font-family: Rubik, sans-serif ;
}

.image {
    align-self: center;
    flex-shrink: 0;
}
.image img{
    border-radius: 8px;
    HEIGHT: 50vh;
    WIDTH: 40vw;
    object-fit: cover;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    
} 

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 10px;
}

/* random content section */
.card-container {
    display: flex;
    gap: 50px;
    margin-bottom: 120px;
    justify-content: center;
}

.hdr {
    font-size: 50px;
    color: #000814;
    text-align: center;
    padding: 50px;
    font-family: Sacramento, sans-serif;
    text-decoration: 1px underline dashed;
}

.img-subtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.dog-st{
    display: block;
    margin: .5em;
}

.dog-st li{
    list-style: none;
    padding: 8px;
    font-size: .9em;
}

.breed{
    border-bottom: solid 1px;
}

.img-subtext img{
    border-style: solid;
    border-radius: 20px;
    border-color: #C79C6B;
    border-width: 4px;
    width: 180px;
    height: 220px;
    object-fit: cover;
}

.img-subtext div{
    text-align: center;
    width: 180px;
}

/*quote section*/

.quote {
    background-color: #000814;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

#qte{
    font-size: 4.5rem;
    font-weight: lighter;
    font-style: italic;
    color: white;
    margin-right: 120px;
    margin-left: 120px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
    font-family: Sacramento;
}

.quote div{
    font-size: 16px;
    font-weight: bolder;
    padding-top: 15px;
    text-align: center;
    margin-left: 40vw;
    color: white;
}

/*Sign-Up Section*/

.sign-up{
    margin: 90px 180px;
    background-color: #47bfff;
    display: flex;
    border-radius: 10px;
    padding: 40px 10px;
    justify-content: space-around;
    align-items: center;
}

.sign-info{
    font-weight: lighter;
}

#btntwo{
    border-color: #f9faf8;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}

/*Footer Section*/
.footer{
    background-color: #000814;
    text-align: center;
    padding: 25px;
    color: white;
}
