body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}
.hero {
    background-color: #1f2937;
    padding: 10px 150px 150px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 85px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.web-info {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}

.hero-scnd, .image, a{
    font-size: 18px;
    color:#e5e7eb;
}

button, .sign-up{
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    color: white;
}

.image {
    background-color: #b6bcca;
    align-self: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    
} 

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

